<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="PowerAppsTools" value="https://pkgs.dev.azure.com/dynamicscrm/PowerAppsTools/_packaging/PowerAppsTools/nuget/v3/index.json" />
  </packageSources>
</configuration>
